.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-secondary);
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: var(--white);
    text-decoration: none;
}

.item a:hover{
    color: var(--icon-color);
}