:root{
  --bg-primary: #efefef;
  --bg-secondary: #222;
  --icon-color: #ffbb33;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root{
  background-color: var(--bg-primary);
  height: 100%;
}